.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
}

.fade-enter-active {
    transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.theme--light.v-application ::-webkit-scrollbar {
    width: 13px;
}

.theme--light.v-application ::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-left: 1px solid #dadada;
}

.theme--light.v-application ::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border: solid 3px #e6e6e6;
    border-radius: 7px;
}

.theme--light.v-application ::-webkit-scrollbar-thumb:hover {
    background: black;
}

.theme--dark.v-application ::-webkit-scrollbar {
    width: 13px;
}

.theme--dark.v-application ::-webkit-scrollbar-track {
    background: #202020;
    border-left: 1px solid #2c2c2c;
}

.theme--dark.v-application ::-webkit-scrollbar-thumb {
    background: #3e3e3e;
    border: solid 3px #20202a;
    border-radius: 7px;
}

.theme--dark.v-application ::-webkit-scrollbar-thumb:hover {
    background: white;
}

