<script type="text/x-template" id="navbar">
    <v-list dense>
        <v-list-item v-for="(item, i) in items" :key="i" :item="item" :to="item.href">
            {{ item.text }}
        </v-list-item>
    </v-list>
</script>

